# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
serviceAccountKey.json
USUARIOS_PRUEBA.md
DOCUMENTACION_COMPLETA.md
CONFIGURAR_FIRESTORE.md
INTEGRACION_CURSOS_FIREBASE.md
DATOS_CURSOS_README.md
IMPLEMENTACION_ROLES_Y_TEST.md
INTEGRACION_CURSOS_FIREBASE.md
INTEGRACION_CURSOS_FIREBASE.md
seed_database.cjs
